*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width:40%;
    margin-left: 20%;
    border-radius: 50px;
}

.nav-list li{
    list-style: none;
    /* margin-left: 5%;
    margin-top: 3%;
    margin-left: 14%; */
    padding: 32px 32px 32px 32px;
    font-size: 120%;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.nav-list li a{
    text-decoration: none;
    color: green;
}
.nav-list li a:hover{
    color: grey;
}
.background{
    background: url('../img/background.jpg');
}
.firstSection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
}
.firstHalf img{
    width: 60%;
    padding: 100px;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
}
.secondHalf{
    width: 200%;
    padding: 250px 100px;
    color: white;
    font-size: 300%;
}

.secondSection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(204, 204, 204);
}
.secondSection h1{
    text-align: center;
    font-size: 50px;
    padding: 1%;
}
.skills-list li{
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.skills-list li img{
    width: 5%;
    padding:30px;
    align-items: center;
}
.container{
    width: 80%;
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    /* padding : 15px; */
    height: 30px;
}
.skill{
    background-color: rgb(51, 51, 255);
    color:white;
    justify-content: center;
    align-items: center;
    padding: 3px;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}
.java{
    width: 40%;
}
.html{
    width: 25%;
}
.css{
    width: 15%;
}
.js{
    width: 20%;
}
.thirdSection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.thirdSection h1{
    text-align: center;
    font-size: 50px;
    padding: 1%;
}
.proj-list{
    list-style: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.proj-list li{
    width: 100%;
    padding: 1%;
    font-size: 20px;
}
.proj-list-in{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.proj-list-in img{
    align-items: center;
    justify-content: center;
    width: 50%;
    text-decoration: none;
}

.fourthSection{
    background: rgb(255, 230, 179);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fourthSection h1{
    text-align: center;
    align-items: center;
    font-size: 50px;
}
.edu-list{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.edu-list-li-outer{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px;
}
.edu-list-li-outer h2{
    font-size: 40px;
    padding:10px;
}
.edu-list-li-outer li{  
    /* text-align: left; */
    list-style-type: none;
    font-size: 25px;
}
.edu-list-li-outer img{
    width:30%;
    border-radius: 20px;
}
.fifthSection{
    background: rgb(204, 204, 204);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-list{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact-list li{
    padding: 50px;
}
.github{
    align-items: center;
    justify-content: center;
    width: 180px;
}
.codechef{
    justify-content: center;
    align-items: center;
    width: 100px;
}
.twitter{
    justify-content: center;
    align-items: center;
    width: 100px;
}
.linkedin{
    justify-content: center;
    align-items: center;
    width: 100px;
}
